<html>
    <head>
        <title>Signup</title>
    </head>

    <body>
        <form method="post">
            <h1>Signup</h1>
            <label>Username <input type="text" name="username" value="{{user_val}}"></label>
            <span style="color: red">{{user_error}}</span> <br>
            <label>Password <input type="password" name="password" value="{{pass_val}}"></label>
            <span style="color: red">{{pass_error}}</span> <br>
            <label>Verify Password <input type="password" name="verify" value="{{verify_val}}"></label>
            <span style="color: red">{{verify_error}}</span> <br>
            <label>Email (optional) <input type="text" name="email" value="{{email_val}}"></label>
            <span style="color: red">{{email_error}}</span> <br>
            <input type="submit">
        </form>
    </body>
</html>